body{
    font-family: 'Varta', sans-serif;
    overflow-x: hidden;
}

/* container */
.fill{
    width: 100%;
}

/*styles for landing page here  */
.landing-page{
    background-image: url('../assets/backgrounds/h_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center;     
    height:auto;
    text-align: center;
    height: 720px;
    padding: 200px;
}

.landing-page >h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
    line-height: 3rem;
    padding-top: 60px; 
    font-weight: bold;  
}

.landing-page>p{
    color: white;    
    text-transform: uppercase;    
}

.landing-page >img:last-child{
    padding: 150px;
}

/* styles for about section */
.about{
    padding: 20px;
    text-align:center;
}

.about >p{
    line-height: 2em;    
}

/* styling services section */
.services{
    background-image: url('../assets/backgrounds/s_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center;     
    padding: 100px 0 100px 0;
    opacity: 0.9;
    text-align: center;   
    color: white;
    line-height: 2em;
}
.services>h2{
    font-weight: bold;
}

/* styling what section */
.what{
    text-align: center; 
    padding: 30px 0 30px 0;       
}

.what >h2{    
    font-weight: bold;
}

.design-p,.dev-p,.product-p{
    display: none;
}

/* styling for portfolio */
.col-space{
    margin-top: 20px;
    margin-bottom: 20px;   
}

.portfolio >h2{
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
#pro{   
    margin-top: 30%; 
    text-align: center;     
}

.project{
    width: 320px;
    height: 270px;
    background-color:white;
    z-index: 1;
    opacity: 0.2;
    position: absolute;
    top: 0.0em;
    display:none;
    color:black;
    font-size: 20px;
}

.project2{    
    width: 320px;
    height: 270px;
    background-color:white;
    z-index: 1;
    opacity: 0.6;
    position: absolute;
    top: 0.0em;
    display:none;
    color:black;
    font-size: 20px;   
}
.project3{
    width: 320px;
    height: 270px;
    background-color:white;
    z-index: 1;
    opacity: 0.4;
    position: absolute;
    top: 0.0em;
    display:none;
    color:black;
    font-size: 20px;
    }
 .project4{
    width: 320px;
    height: 270px;
    background-color:white;
    z-index: 1;
    opacity: 0.5;
    position: absolute;
    top: 0.0em;
    display:none;
    color:black;
    font-size: 20px;
    }
    .project5{
    width: 320px;
    height: 270px;
    background-color:white;
    z-index: 1;
    opacity: 0.5;
    position: absolute;
    top: 0.0em;
    display:none;
    color:black;
    font-size: 20px;
    }
    .project6{
     width: 320px;
    height: 270px;
    background-color:white;
    z-index: 1;
    opacity: 0.5;
    position: absolute;
    top: 0.0em;
    display:none;
    color:black;
    font-size: 20px;
    }
    .project7{
    width: 320px;
    height: 270px;
    background-color:white;
    z-index: 1;
    opacity: 0.5;
    position: absolute;
    top: 0.0em;
    display:none;
    color:black;
    font-size: 20px;
    }
    .project8{
    width: 320px;
    height: 270px;
    background-color:white;
    z-index: 1;
    opacity: 0.5;
    position: absolute;
    top: 0.0em;
    display:none;
    color:black;
    font-size: 20px;
    }


/* styling for contact form */
.contact{
    background-image: url('../assets/backgrounds/c_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;      
}

.contact >h2{
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 25px;
}
#form1 {
    background-color: transparent;
}
textarea {
    width: 100%;
    height: 200px;
    color: white;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical ;
   }
 #sayhi ::placeholder {
    color: white;
}
   #sayhi input{
    color: white;
    background-color: transparent;
   }


/* styling for social media icons */
.social-icons{  
    width: 100%;  
    text-align: center;    
    display: flex;
    padding-left: 30%;
    padding-right: 20%;
    justify-content: space-around;
    padding-top: 20px;    
}

/* styling for footer */
.footer{
    text-align: center;
    padding: 15px 0 15px 0;  
    line-height: 1em;  
}