body{
    font-family: 'Varta', sans-serif;
    overflow-x: hidden;
}

/*styles for landing page here  */
.landing-page{
    background-image: url('../assets/backgrounds/h_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center;     
    height:auto;
    text-align: center;
    height: 720px;
    padding: 200px;
}

.landing-page >h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
    line-height: 3rem;
    padding-top: 60px;   
}

.landing-page>p{
    color: white;    
    text-transform: uppercase;    
}

.landing-page >img:last-child{
    padding: 150px;
}

/* styles for about section */
.about{
    padding: 20px;
    text-align:center;
}

.about >p{
    line-height: 2em;    
}

/* styling services section */
.services{
    background-image: url('../assets/backgrounds/s_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center;     
    padding: 100px 0 100px 0;
    opacity: 0.9;
    text-align: center;   
    color: white;
    line-height: 2em;
}

/* styling what section */
.what{
    text-align: center;
    /* padding: 30px 0 30px 0; */
}

.what >h2{
    padding-top: 30px;
}

