body{
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}

/*styles for landing page here  */
.landing-page{
    background-image: url('../assets/backgrounds/h_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center;     
    height:auto;
    text-align: center;
    height: 720px;
    padding: 200px;
}

.landing-page >h2{
    text-align: center;
    color: white;
    text-transform: uppercase;
    line-height: 3rem;
    padding-top: 49px; 
    font-weight: bold;  
}

.landing-page>p{
    color: white;    
    text-transform: uppercase; 
    text-align: center;   
}

.landing-page >img:last-child{
    padding: 150px;
}

#mouseClick {
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-55px);
    }
    60% {
      transform: translateY(-45px);
    }
  }  
/* styles for about section */
.about{
    padding: 40px;
    text-align:center;
}

.about >h2{
    font-weight: bold;
}

.about >p{
    line-height: 2em;    
}

/* styling services section */
.services{
    background-image: url('../assets/backgrounds/s_image.jpg'), linear-gradient(#525052, #413f3f);
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center;     
    padding: 100px 0 100px 0;
    opacity: 0.9;
    text-align: center;   
    color: white;
    line-height: 2em;
}
.services>h2{
    font-weight: bold;
}

/* styling what section */
.what{
    text-align: center; 
    padding: 25px 0 25px 0; 
    padding-left: 9px;
    padding-right: 40px;      
}

.what >h2{    
    font-weight: bold;
}

.design-p,.dev-p,.product-p{
    display: none;
}

/* styling for portfolio */
.portfolio{
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 9%;
    padding-right: 9%;
}

.portfolio >h2{
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
#pro{   
    margin-top: 30%; 
    text-align: center;    
}

.project{
    width: 100%;
    height: 100%;
    background-color:white;    
    opacity: 0.2;
    position: absolute;
    top: 0.0em;
    display:none;
    color:black;
    font-size: 20px;        
}

.project2{    
    width: 100%;
    height: 100%;
    background-color:white;    
    opacity: 0.6;
    position: absolute;
    top: 0.0em;
    display:none;
    color:black;
    font-size: 20px;   
}
.project3{
    width: 100%;
    height: 100%;
    background-color:white;    
    opacity: 0.4;
    position: absolute;
    top: 0.0em;
    display:none;
    color:black;
    font-size: 20px;
    }
 .project4{
    width: 100%;
    height: 100%;
    background-color:white;    
    opacity: 0.5;
    position: absolute;
    top: 0.0em;
    display:none;
    color:black;
    font-size: 20px;
    }
    .project5{
    width: 100%;
    height: 100%;
    background-color:white;    
    opacity: 0.5;
    position: absolute;
    top: 0.0em;
    display:none;
    color:black;
    font-size: 20px;
    }
    .project6{
    width: 100%;
    height: 100%;
    background-color:white;    
    opacity: 0.5;
    position: absolute;
    top: 0.0em;
    display:none;
    color:black;
    font-size: 20px;
    }
    .project7{
    width: 100%;
    height: 100%;
    background-color:white;    
    opacity: 0.5;
    position: absolute;
    top: 0.0em;
    display:none;
    color:black;
    font-size: 20px;
    }
    .project8{
    width: 100%;
    height: 100%;
    background-color:white;    
    opacity: 0.5;
    position: absolute;
    top: 0.0em;
    display:none;
    color:black;
    font-size: 20px;
    }


/* styling for contact form */
.contact{
    background-image: url('../assets/backgrounds/c_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;      
}

.contact >h2{
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 25px;
}
#form1 {
    background-color: transparent;
}
textarea {
    width: 100%;
    height: 200px;
    color: white;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical ;
   }
 #sayhi ::placeholder {
    color: white;
}
   #sayhi input{
    color: white;
    background-color: transparent;
   }


/* styling for social media icons */
.social-icons{  
    width: 100%;  
    text-align: center;
    padding: 30px 0 8px 0;   
    justify-content: space-around;
}
.social-icons>#hv:hover{
    transform: scale(1.4);
}

/* styling for footer */
.footer{
    text-align: center;
    padding: 15px 0 15px 0;  
    line-height: 1em; 
    font-weight: bold; 
}